body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff; 
}

header {
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
}

a:hover {
    color: #404BBF;
}

address {
    font-style: normal;
}

address ul {
    list-style: none;
}

address:hover {
    color: #404BBF;
}

address a {
    color: #434455;
    text-decoration: none;
    font-weight: 400;
}

.one {
    background-color: #2E2F42;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

button {
    color: #ffffff;
    background-color: #4D5AE5;
}

button:hover {
    background-color: #404BBF;
}

h3 {
    font-weight: 500;
    color: #2E2F42;
}

li p {
    font-weight: 400;
    color: #434455;
}

.three {
    background-color: #F4F4FD;
}

.three h2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.three ul {
    background-color: #ffffff;
    font-size: 16px;   
}

.four h2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.four ul {
    text-align: left;
}

.four h3 {
    font-weight: 500;
    font-size: 20px;
}

.four p {
    font-weight: 400;
    font-size: 16px;
}

.logo {
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    max-width: 200px;
}

.logo-color {
    color: #F4F4FD;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    max-width: 200px;
}

footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
}

